on boot
    # Touchpanel
    chown system system /sys/touchpanel/double_tap
    chmod 0664 /sys/touchpanel/double_tap

on property:sys.boot_completed=1
    # Restrict permissions to socket file
    # to hide Magisk & co.
    chmod 0440 /proc/net/unix
    # Fast charging
    write /sys/kernel/fast_charge/force_fast_charge 1
    # Fingerprint Boost
    write /sys/kernel/fp_boost/enabled 1
